<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Demo of rbow</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <div id="app">

        <h3>WebSocket</h3>
        <ul>
            <li v-for="ws of statuses">{{ ws }}</li>
        </ul>
        <h3>Send</h3>
        <button @click="subscribePing" v-if="!sockets['ws/ping']">Subscribe to Ping</button>
        <button @click="unsubscribePing" v-if="sockets['ws/ping']">unsubscribe to Ping</button>
        <button @click="sendPing">Send Ping over WS</button>
        <button @click="sendHttpPing">Send Ping over HTTP</button>
        <br/><br/>
        <button @click="subscribeInterval" v-if="!sockets['ws/interval']">Subscribe to Interval Channel</button>
        <button @click="unsubscribeInterval" v-if="sockets['ws/interval']">Unsubscribe to Interval Channel</button>
        <br/><br/>
        <button @click="subscribeRequestPing" v-if="!sockets['ws/request-ping']">Subscribe to Request Channel</button>
        <button @click="unsubscribeRequestPing" v-if="sockets['ws/request-ping']">Unsubscribe to Request Channel</button>
        <button @click="sendRequestPing">Ping Request Channel</button>
        <br/><br/>
        <button @click="subscribeRequestInterval" v-if="!sockets['ws/request-interval']">Subscribe to Request Interval Channel</button>
        <button @click="unsubscribeRequestInterval" v-if="sockets['ws/request-interval']">Unsubscribe to Request Interval Channel</button>

        <h3>Received</h3>
        <ul>
            <li v-for="recv in received">{{ recv }}</li>
        </ul>
    </div>
    <script src="/static/js/app.js"></script>
</body>
</html>
